20TH AUGUST 2023 PYTHON BASICS ASSIGNMENT

string based assignment

In [ ]:
#1. Write a program to reverse a string.

In [1]:
def reverse_string(input_string):
    # Use slicing to reverse the string
    reversed_string = input_string[::-1]
    return reversed_string

# Input string
input_str = input("Enter a string: ")

# Call the function to reverse the string
result = reverse_string(input_str)

# Print the reversed string
print("Reversed string:", result)

Enter a string:  MEHBOOB MANSURI

Reversed string: IRUSNAM BOOBHEM

In [2]:
#2. Check if a string is a palindrome.

In [3]:
def is_palindrome(input_string):
    # Remove spaces and convert to lowercase for a case-insensitive check
    cleaned_string = input_string.replace(" ", "").lower()
    # Check if the cleaned string is equal to its reverse
    return cleaned_string == cleaned_string[::-1]

# Input string
input_str = input("Enter a string: ")

# Call the function to check if it's a palindrome
if is_palindrome(input_str):
    print("It's a palindrome!")
else:
    print("It's not a palindrome.")

Enter a string:  PWSKILLS

It's not a palindrome.

In [4]:
#3. Convert a string to uppercase.

In [5]:
# Input string
input_str = input("Enter a string: ")

# Convert the string to uppercase
uppercase_str = input_str.upper()

# Print the uppercase string
print("Uppercase string:", uppercase_str)

Enter a string:  pwskills

Uppercase string: PWSKILLS

In [6]:
#4. Convert a string to lowercase.

In [7]:
# Input string
input_str = input("Enter a string: ")

# Convert the string to lowercase
lowercase_str = input_str.lower()

# Print the lowercase string
print("Lowercase string:", lowercase_str)

Enter a string:  PWSKILLS

Lowercase string: pwskills

In [8]:
#5. Count the number of vowels in a string.

In [9]:
# Function to count vowels in a string
def count_vowels(input_string):
    # Define a set of vowels (both lowercase and uppercase)
    vowels = set("AEIOUaeiou")
    
    # Initialize a variable to store the count
    vowel_count = 0
    
    # Iterate through the characters in the string
    for char in input_string:
        # Check if the character is in the set of vowels
        if char in vowels:
            vowel_count += 1
    
    return vowel_count

# Input string
input_str = input("Enter a string: ")

# Call the function to count vowels
vowel_count = count_vowels(input_str)

# Print the number of vowels in the string
print("Number of vowels:", vowel_count)

Enter a string:  my  name. is mehboob mansuri

Number of vowels: 9

In [10]:
#6. Count the number of consonants in a string.

In [11]:
# Function to count consonants in a string
def count_consonants(input_string):
    # Define a set of vowels (both lowercase and uppercase)
    vowels = set("AEIOUaeiou")
    
    # Initialize a variable to store the count
    consonant_count = 0
    
    # Iterate through the characters in the string
    for char in input_string:
        # Check if the character is an alphabet and not in the set of vowels
        if char.isalpha() and char not in vowels:
            consonant_count += 1
    
    return consonant_count

# Input string
input_str = input("Enter a string: ")

# Call the function to count consonants
consonant_count = count_consonants(input_str)

# Print the number of consonants in the string
print("Number of consonants:", consonant_count)

Enter a string:  my name is mehboob mansuri and your name is what

Number of consonants: 23

In [12]:
#7. Remove all whitespaces from a string.

In [13]:
# Input string
input_str = input("Enter a string: ")

# Remove whitespaces using the replace() method
no_whitespace_str = input_str.replace(" ", "")

# Print the string with whitespaces removed
print("String with whitespaces removed:", no_whitespace_str)

Enter a string:  my name. is mebhoob mansuri

String with whitespaces removed: myname.ismebhoobmansuri

In [14]:
#8. Find the length of a string without using the `len()` function.

In [15]:
# Input string
input_str = input("Enter a string: ")

# Initialize a variable to store the length
length = 0

# Iterate through the characters in the string
for char in input_str:
    length += 1

# Print the length of the string
print("Length of the string:", length)

Enter a string:  mehboob mansuri

Length of the string: 15

In [16]:
#9. Check if a string contains a specific word.

In [17]:
# Input string
input_str = input("Enter a string: ")

# Word to search for
search_word = input("Enter the word to search for: ")

# Check if the word is in the string
if search_word in input_str:
    print(f"The string contains the word '{search_word}'.")
else:
    print(f"The string does not contain the word '{search_word}'.")

Enter a string:  my name is mehboob mansuri
Enter the word to search for:  is

The string contains the word 'is'.

In [18]:
#10. Replace a word in a string with another word.

In [19]:
# Input string
input_str = input("Enter a string: ")

# Word to find and replace
find_word = input("Enter the word to find: ")
replace_word = input("Enter the word to replace it with: ")

# Replace the word in the string
new_str = input_str.replace(find_word, replace_word)

# Print the string with the word replaced
print("Modified string:", new_str)

Enter a string:  my name is mehboob. mansuri and my. age is 29 year
Enter the word to find:  age
Enter the word to replace it with:  age

Modified string: my name is mehboob. mansuri and my. age is 29 year

In [20]:
#11. Count the occurrences of a word in a string.

In [21]:
# Function to count occurrences of a word in a string
def count_word_occurrences(input_string, target_word):
    # Split the input string into words
    words = input_string.split()
    
    # Initialize a variable to store the count
    count = 0
    
    # Iterate through the words and count occurrences of the target word
    for word in words:
        if word == target_word:
            count += 1
    
    return count

# Input string
input_str = input("Enter a string: ")

# Word to count
target_word = input("Enter the word to count: ")

# Call the function to count occurrences
occurrence_count = count_word_occurrences(input_str, target_word)

# Print the number of occurrences
print(f"The word '{target_word}' appears {occurrence_count} times in the string.")

Enter a string:  what are you doing today
Enter the word to count:  doing

The word 'doing' appears 1 times in the string.

In [22]:
#12. Find the first occurrence of a word in a string.

In [23]:
# Input string
input_str = input("Enter a string: ")

# Word to find
target_word = input("Enter the word to find: ")

# Find the first occurrence of the word in the string
index = input_str.find(target_word)

# Check if the word was found (index is not -1)
if index != -1:
    print(f"The first occurrence of '{target_word}' is at index {index}.")
else:
    print(f"'{target_word}' was not found in the string.")

Enter a string:  my name is mehboob mansuri
Enter the word to find:  name

The first occurrence of 'name' is at index 3.

In [24]:
#13. Find the last occurrence of a word in a string.

In [25]:
# Input string
input_str = input("Enter a string: ")

# Word to find
target_word = input("Enter the word to find: ")

# Initialize a variable to store the index of the last occurrence
last_index = -1

# Find the last occurrence of the word in the string using a loop
while True:
    index = input_str.find(target_word, last_index + 1)
    if index == -1:
        break
    last_index = index

# Check if the word was found
if last_index != -1:
    print(f"The last occurrence of '{target_word}' is at index {last_index}.")
else:
    print(f"'{target_word}' was not found in the string.")

Enter a string:  my name. is joker and your name. is what
Enter the word to find:  joker

The last occurrence of 'joker' is at index 12.

In [26]:
#14. Split a string into a list of words.

In [ ]:
# Input string
input_str = input("Enter a string: ")

# Split the string into a list of words (default delimiter is space)
words_list = input_str.split()

# Print the list of words
print("List of words:", words_list)

In [1]:
#15. Join a list of words into a string.

In [2]:
# List of words
words_list = ['Hello,', 'World!']

# Join the list of words into a string
output_str = ' '.join(words_list)

# Print the resulting string
print("Joined string:", output_str)

Joined string: Hello, World!

In [5]:
''' 16. Convert a string where words are separated by spaces to one where words
are separated by underscores. '''

' 16. Convert a string where words are separated by spaces to one where words\nare separated by underscores. '

In [6]:
# Input string with spaces
input_str = input("Enter a string with spaces: ")

# Replace spaces with underscores
output_str = input_str.replace(" ", "_")

# Print the converted string
print("Converted string:", output_str)

Enter a string with spaces:  my   name v.  veera.

Converted string: my___name_v.__veera.___

In [7]:
#17. Check if a string starts with a specific word or phrase.

In [9]:
# Input string
input_str = input("Enter a string: ")

# Word or phrase to check for
prefix = input("Enter the word or phrase to check for: ")

# Check if the string starts with the specified word or phrase
if input_str.startswith(prefix):
    print(f"The string starts with '{prefix}'.")
else:
    print(f"The string does not start with '{prefix}'.")

Enter a string:  my name is kumar
Enter the word or phrase to check for:  kumar

The string does not start with 'kumar'.

In [10]:
#18. Check if a string ends with a specific word or phrase.

In [11]:
# Input string
input_str = input("Enter a string: ")

# Word or phrase to check for
suffix = input("Enter the word or phrase to check for at the end: ")

# Check if the string ends with the specified word or phrase
if input_str.endswith(suffix):
    print(f"The string ends with '{suffix}'.")
else:
    print(f"The string does not end with '{suffix}'.")

Enter a string:  my name is mehboob mansuri
Enter the word or phrase to check for at the end:  mansuri

The string ends with 'mansuri'.

In [12]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [13]:
# Input string
input_str = input("Enter a string: ")

# Convert the string to title case
title_case_str = input_str.title()

# Print the string in title case
print("Title case string:", title_case_str)

Enter a string:  my name is mehboob mansuri and i am 29 year old

Title case string: My Name Is Mehboob Mansuri And I Am 29 Year Old

In [14]:
#20. Find the longest word in a string.

In [15]:
# Input string
input_str = input("Enter a string: ")

# Split the string into words
words = input_str.split()

# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Iterate through the words to find the longest one
for word in words:
    # Remove any punctuation characters (optional)
    word = ''.join(filter(str.isalnum, word))
    
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word

# Print the longest word and its length
print(f"The longest word is '{longest_word}' with a length of {max_length} characters.")

Enter a string:  my name is mehboob mansuri and. i am 29 year old and i was doing data science pro batch

The longest word is 'mehboob' with a length of 7 characters.

In [16]:
#21. Find the shortest word in a string.

In [17]:
# Input string
input_str = input("Enter a string: ")

# Split the string into words
words = input_str.split()

# Initialize variables to store the shortest word and its length
shortest_word = None
min_length = float('inf')

# Iterate through the words to find the shortest one
for word in words:
    # Remove any punctuation characters (optional)
    word = ''.join(filter(str.isalnum, word))
    
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word

# Check if any words were found
if shortest_word is not None:
    # Print the shortest word and its length
    print(f"The shortest word is '{shortest_word}' with a length of {min_length} characters.")
else:
    print("No valid words found in the string.")

Enter a string:  my name. is mehboob mansuri and. i was 30 year old

The shortest word is 'i' with a length of 1 characters.

In [18]:
#22. Reverse the order of words in a string.

In [19]:
# Input string
input_str = input("Enter a string: ")

# Split the string into words
words = input_str.split()

# Reverse the order of words
reversed_words = words[::-1]

# Join the reversed words back into a string
reversed_str = ' '.join(reversed_words)

# Print the reversed string
print("Reversed string:", reversed_str)

Enter a string:  my name is kaali and i am the 4th largest drug. dealer of. the. world

Reversed string: world the. of. dealer drug. largest 4th the am i and kaali is name my

In [20]:
#23. Check if a string is alphanumeric.

In [22]:
# Input string
input_str = input("Enter a string: ")

# Check if the string is alphanumeric
if input_str.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  my. name. is kali 21734

The string is not alphanumeric.

In [23]:
#24. Extract all digits from a string.

In [25]:
import re

# Input string
input_str = input("Enter a string: ")

# Use regular expression to extract digits
digits_list = re.findall(r'\d', input_str)

# Join the extracted digits into a single string
extracted_digits = ''.join(digits_list)

# Print the extracted digits
print("Extracted digits:", extracted_digits)

Enter a string:  i am kal 45 nd9bv

Extracted digits: 459

In [26]:
#25. Extract all alphabets from a string.

In [27]:
import re

# Input string
input_str = input("Enter a string: ")

# Use regular expression to extract alphabets
alphabets_list = re.findall(r'[a-zA-Z]', input_str)

# Join the extracted alphabets into a single string
extracted_alphabets = ''.join(alphabets_list)

# Print the extracted alphabets
print("Extracted alphabets:", extracted_alphabets)

Enter a string:  hello123world4675

Extracted alphabets: helloworld

In [28]:
#26. Count the number of uppercase letters in a string.

In [29]:
# Input string
input_str = input("Enter a string: ")

# Initialize a variable to store the count of uppercase letters
uppercase_count = 0

# Iterate through the characters in the string
for char in input_str:
    if char.isupper():
        uppercase_count += 1

# Print the number of uppercase letters
print("Number of uppercase letters:", uppercase_count)

Enter a string:  MEERHjfjfejdMEJFNSEHJFJjfffghgfdfghj

Number of uppercase letters: 16

In [30]:
#27. Count the number of lowercase letters in a string.

In [31]:
# Input string
input_str = input("Enter a string: ")

# Initialize a variable to store the count of lowercase letters
lowercase_count = 0

# Iterate through the characters in the string
for char in input_str:
    if char.islower():
        lowercase_count += 1

# Print the number of lowercase letters
print("Number of lowercase letters:", lowercase_count)

Enter a string:  my name is MEHDboob andfjjIS FOR

Number of lowercase letters: 18

In [32]:
#28. Swap the case of each character in a string.

In [33]:
# Input string
input_str = input("Enter a string: ")

# Swap the case of each character
swapped_str = input_str.swapcase()

# Print the string with swapped case
print("String with swapped case:", swapped_str)

Enter a string:  hello WORLd

String with swapped case: HELLO worlD

In [34]:
#29. Remove a specific word from a string.

In [35]:
# Input string
input_str = input("Enter a string: ")

# Word to remove
word_to_remove = input("Enter the word to remove: ")

# Remove the word using the replace() method
new_str = input_str.replace(word_to_remove, '')

# Print the string with the word removed
print("String with the word removed:", new_str)

Enter a string:  my name. is mehboob mansuri
Enter the word to remove:  mansuri

String with the word removed: my name. is mehboob

In [36]:
#30. Check if a string is a valid email address.

In [37]:
import re

# Function to check if a string is a valid email address
def is_valid_email(email):
    # Regular expression pattern for a basic email validation
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    
    # Use re.match() to check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

# Input email address
email_address = input("Enter an email address: ")

# Check if the input is a valid email address
if is_valid_email(email_address):
    print(f"'{email_address}' is a valid email address.")
else:
    print(f"'{email_address}' is not a valid email address.")

Enter an email address:  mansurim716@gmail.com

'mansurim716@gmail.com' is a valid email address.

In [38]:
#31. Extract the username from an email address string.

In [39]:
import re

# Function to extract the username from an email address
def extract_username(email):
    # Regular expression pattern to match the username part of an email address
    pattern = r'^([\w\.-]+)@[\w\.-]+\.\w+$'
    
    # Use re.match() to find the match and extract the username
    match = re.match(pattern, email)
    
    if match:
        username = match.group(1)
        return username
    else:
        return None

# Input email address
email_address = input("Enter an email address: ")

# Extract the username from the email address
username = extract_username(email_address)

if username:
    print("Username:", username)
else:
    print("Invalid email address format.")

Enter an email address:  mansurim716@gmail.com

Username: mansurim716

In [40]:
#32. Extract the domain name from an email address string.

In [41]:
# Input email address
email_address = input("Enter an email address: ")

# Split the email address at the "@" symbol
parts = email_address.split('@')

# Check if there are two parts (username and domain)
if len(parts) == 2:
    domain = parts[1]
    print("Domain:", domain)
else:
    print("Invalid email address format.")

Enter an email address:  mansurim716@gmail.com

Domain: gmail.com

In [42]:
#33. Replace multiple spaces in a string with a single space.

In [43]:
import re

# Input string with multiple spaces
input_str = input("Enter a string with multiple spaces: ")

# Use regular expression to replace multiple spaces with a single space
updated_str = re.sub(r'\s+', ' ', input_str)

# Print the updated string
print("String with multiple spaces replaced:", updated_str)

Enter a string with multiple spaces:  hello     world

String with multiple spaces replaced: hello world

In [44]:
#34. Check if a string is a valid URL.

In [46]:
from urllib.parse import urlparse

# Function to check if a string is a valid URL
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Input URL
url = input("Enter a URL: ")

# Check if the input is a valid URL
if is_valid_url(url):
    print(f"'{url}' is a valid URL.")
else:
    print(f"'{url}' is not a valid URL.")

Enter a URL:  https://www.winnersinstitute.in/

'https://www.winnersinstitute.in/' is a valid URL.

In [47]:
#35. Extract the protocol (http or https) from a URL string.

In [48]:
from urllib.parse import urlparse

# Function to extract the protocol from a URL
def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme:
        return parsed_url.scheme
    else:
        return None

# Input URL
url = input("Enter a URL: ")

# Extract the protocol from the URL
protocol = extract_protocol(url)

if protocol:
    print(f"The protocol in the URL is '{protocol}'.")
else:
    print("No protocol found in the URL.")

Enter a URL:  https://www.winnersinstitute.in/

The protocol in the URL is 'https'.

In [49]:
#36. Find the frequency of each character in a string.

In [50]:
# Input string
input_str = input("Enter a string: ")

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Count the frequency of each character in the string
for char in input_str:
    # Check if the character is not a space (you can include other filters as needed)
    if char != ' ':
        # Use the get() method to increment the count or set it to 1 if not present
        char_frequency[char] = char_frequency.get(char, 0) + 1

# Print the character frequencies
for char, count in char_frequency.items():
    print(f"'{char}': {count}")

Enter a string:  36. Find the frequency of each character in a string.

'3': 1
'6': 1
'.': 2
'F': 1
'i': 3
'n': 4
'd': 1
't': 3
'h': 3
'e': 5
'f': 2
'r': 4
'q': 1
'u': 1
'c': 4
'y': 1
'o': 1
'a': 4
's': 1
'g': 1

In [51]:
#37. Remove all punctuation from a string.

In [52]:
import string

# Input string
input_str = input("Enter a string: ")

# Define a translation table to remove punctuation
translator = str.maketrans('', '', string.punctuation)

# Remove punctuation from the string
cleaned_str = input_str.translate(translator)

# Print the cleaned string
print("String with punctuation removed:", cleaned_str)

Enter a string:  hello world!@#

String with punctuation removed: hello world

In [53]:
#38. Check if a string contains only digits.

In [54]:
# Input string
input_str = input("Enter a string: ")

# Check if the string contains only digits
if input_str.isdigit():
    print("The string contains only digits.")
else:
    print("The string contains non-digit characters.")

Enter a string:  12233455667

The string contains only digits.

In [55]:
#39. Check if a string contains only alphabets.

In [56]:
# Input string
input_str = input("Enter a string: ")

# Check if the string contains only alphabets
if input_str.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains non-alphabet characters.")

Enter a string:  my name is cali

The string contains non-alphabet characters.

In [57]:
#40. Convert a string to a list of characters.

In [58]:
# Input string
input_str = input("Enter a string: ")

# Convert the string to a list of characters using the list() constructor
char_list = list(input_str)

# Print the list of characters
print("List of characters:", char_list)

Enter a string:  hello

List of characters: ['h', 'e', 'l', 'l', 'o']

In [59]:
#41. Check if two strings are anagrams.

In [60]:
# Input two strings
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

# Function to check if two strings are anagrams
def are_anagrams(string1, string2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    string1 = string1.replace(" ", "").lower()
    string2 = string2.replace(" ", "").lower()
    
    # Check if the sorted strings are the same
    return sorted(string1) == sorted(string2)

# Check if the input strings are anagrams
if are_anagrams(str1, str2):
    print(f"'{str1}' and '{str2}' are anagrams.")
else:
    print(f"'{str1}' and '{str2}' are not anagrams.")

Enter the first string:  listen
Enter the second string:  silent

'listen ' and 'silent' are anagrams.

In [61]:
#42. Encode a string using a Caesar cipher.

In [62]:
# Function to encode a string using a Caesar cipher
def caesar_cipher(text, shift):
    encrypted_text = ""
    
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            if is_upper:
                shifted_char = shifted_char.upper()
            encrypted_text += shifted_char
        else:
            encrypted_text += char
    
    return encrypted_text

# Input string and shift value
plaintext = input("Enter a string to encode: ")
shift = int(input("Enter the Caesar cipher shift value (e.g., 1 for one position shift): "))

# Encode the string using the Caesar cipher
encoded_text = caesar_cipher(plaintext, shift)

# Print the encoded text
print("Encoded text:", encoded_text)

Enter a string to encode:  hello ,world!
Enter the Caesar cipher shift value (e.g., 1 for one position shift):  4

Encoded text: lipps ,asvph!

In [63]:
#43. Decode a Caesar cipher encoded string.

In [64]:
# Function to decode a string encoded with a Caesar cipher
def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""
    
    for char in encoded_text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            if is_upper:
                shifted_char = shifted_char.upper()
            decoded_text += shifted_char
        else:
            decoded_text += char
    
    return decoded_text

# Input encoded string and shift value
encoded_text = input("Enter the encoded text: ")
shift = int(input("Enter the Caesar cipher shift value used for encoding: "))

# Decode the encoded string using the Caesar cipher
decoded_text = caesar_cipher_decode(encoded_text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Enter the encoded text:  imli khatti
Enter the Caesar cipher shift value used for encoding:  3

Decoded text: fjif hexqqf

In [65]:
#44. Find the most frequent word in a string.

In [66]:
# Input string
input_str = input("Enter a string: ")

# Split the string into words
words = input_str.split()

# Initialize an empty dictionary to store word frequencies
word_frequency = {}

# Count the frequency of each word in the string
for word in words:
    # Remove punctuation and convert to lowercase for case-insensitive comparison
    word = word.strip('.,!?').lower()
    
    # Update the word frequency in the dictionary
    if word:
        word_frequency[word] = word_frequency.get(word, 0) + 1

# Find the most frequent word
most_frequent_word = max(word_frequency, key=word_frequency.get)

# Print the most frequent word and its frequency
print("Most frequent word:", most_frequent_word)
print("Frequency:", word_frequency[most_frequent_word])

Enter a string:  44. Find the most frequent word in a string.

Most frequent word: 44
Frequency: 1

In [67]:
#45. Find all unique words in a string.

In [68]:
# Input string
input_str = input("Enter a string: ")

# Split the string into words
words = input_str.split()

# Initialize an empty set to store unique words
unique_words = set()

# Iterate through each word in the string and add it to the set
for word in words:
    # Remove punctuation and convert to lowercase for case-insensitive comparison
    word = word.strip('.,!?').lower()
    
    # Add the word to the set if it's not empty
    if word:
        unique_words.add(word)

# Convert the set of unique words back to a sorted list
unique_word_list = sorted(list(unique_words))

# Print the list of unique words
print("Unique words in the string:", unique_word_list)

Enter a string:  The quick brown fox jumps over the lazy dog. The dog is quick.

Unique words in the string: ['brown', 'dog', 'fox', 'is', 'jumps', 'lazy', 'over', 'quick', 'the']

In [69]:
#46. Count the number of syllables in a string.

In [70]:
# Function to count the number of syllables in a word
def count_syllables(word):
    # Remove trailing "e" if it's not the only vowel (considered silent)
    word = word.rstrip("eE")
    
    # Count vowels (a, e, i, o, u) as syllables
    vowels = "aeiouAEIOU"
    syllable_count = sum(1 for char in word if char in vowels)
    
    # Adjust for words with no vowels (minimum 1 syllable)
    if syllable_count == 0:
        syllable_count = 1
    
    return syllable_count

# Input string
input_str = input("Enter a string: ")

# Split the string into words
words = input_str.split()

# Initialize a count for total syllables
total_syllables = 0

# Count syllables in each word and sum them up
for word in words:
    total_syllables += count_syllables(word)

# Print the total syllable count
print("Total syllables in the string:", total_syllables)

Enter a string:  Check if a string contains only alphabets. 40. Convert a string to a list of characters. 41. Check if two strings are anagrams. 42. Encode a string using a Caesar cipher. 43. Decode a Caesar cipher encoded string. 44. Find the most frequent word in a string. 45. Find all unique words in a string. 46. Count the number of syllables in a string.

Total syllables in the string: 91

In [71]:
#47. Check if a string contains any special characters.

In [72]:
import re

# Function to check if a string contains any special characters
def contains_special_characters(input_str):
    # Define a regular expression pattern to match non-alphanumeric characters
    pattern = r'[^a-zA-Z0-9\s]'
    
    # Use re.search() to find a match in the string
    if re.search(pattern, input_str):
        return True
    else:
        return False

# Input string
input_str = input("Enter a string: ")

# Check if the string contains special characters
if contains_special_characters(input_str):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  hello world!

The string contains special characters.

In [73]:
#48. Remove the nth word from a string.

In [74]:
# Function to remove the nth word from a string
def remove_nth_word(input_str, n):
    # Split the string into words
    words = input_str.split()
    
    # Check if n is within a valid range
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]
        
        # Join the remaining words back together
        updated_str = ' '.join(words)
        return updated_str
    else:
        # Return the original string if n is out of range
        return input_str

# Input string
input_str = input("Enter a string: ")

# Input the position (n) of the word to remove
n = int(input("Enter the position (1-based) of the word to remove: "))

# Remove the nth word from the string
result_str = remove_nth_word(input_str, n)

# Print the updated string
print("Updated string:", result_str)

Enter a string:  The quick brown fox jumps over the lazy dog.
Enter the position (1-based) of the word to remove:  3

Updated string: The quick fox jumps over the lazy dog.

In [75]:
#49. Insert a word at the nth position in a string.

In [76]:
# Function to insert a word at the nth position in a string
def insert_word_at_position(input_str, word_to_insert, n):
    # Split the string into words
    words = input_str.split()
    
    # Check if n is within a valid range
    if 1 <= n <= len(words) + 1:
        # Insert the word at the specified position
        words.insert(n - 1, word_to_insert)
        
        # Join the words back together
        updated_str = ' '.join(words)
        return updated_str
    else:
        # Return the original string if n is out of range
        return input_str

# Input string
input_str = input("Enter a string: ")

# Input the word to insert
word_to_insert = input("Enter the word to insert: ")

# Input the position (n) where you want to insert the word
n = int(input("Enter the position (1-based) where you want to insert the word: "))

# Insert the word at the nth position in the string
result_str = insert_word_at_position(input_str, word_to_insert, n)

# Print the updated string
print("Updated string:", result_str)

Enter a string:  he quick brown jumps over the lazy dog.
Enter the word to insert:  fox
Enter the position (1-based) where you want to insert the word:  5

Updated string: he quick brown jumps fox over the lazy dog.

In [77]:
#50. Convert a CSV string to a list of lists.

In [78]:
import csv
from io import StringIO

# CSV string
csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago
"""

# Create a StringIO object to simulate a file
csv_file = StringIO(csv_string)

# Initialize a list to store the CSV data as a list of lists
csv_data = []

# Parse the CSV data using csv.reader
csv_reader = csv.reader(csv_file)

# Iterate through the rows and append each row as a list to csv_data
for row in csv_reader:
    csv_data.append(row)

# Close the StringIO object
csv_file.close()

# Print the list of lists
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

list based practice problem

In [79]:
#1. Create a list with integers from 1 to 10.

In [80]:
# Create a list with integers from 1 to 10 using a list comprehension
my_list = [i for i in range(1, 11)]

# Print the list
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
#2. Find the length of a list without using the `len()` function.

In [1]:
# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a counter
length = 0

# Iterate through the list and count the elements
for _ in my_list:
    length += 1

# Print the length of the list
print("Length of the list:", length)

Length of the list: 10

In [2]:
#3. Append an element to the end of a list.

In [3]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Element to append
element_to_append = 6

# Append the element to the end of the list
my_list.append(element_to_append)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 5, 6]

In [4]:
#4. Insert an element at a specific index in a list.

In [5]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Element to insert
element_to_insert = 6

# Index where you want to insert the element (0-based index)
insert_index = 2

# Insert the element at the specified index
my_list.insert(insert_index, element_to_insert)

# Print the updated list
print(my_list)

[1, 2, 6, 3, 4, 5]

In [6]:
#5. Remove an element from a list by its value.

In [7]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3]

# Element to remove
element_to_remove = 3

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print(my_list)

[1, 2, 4, 5, 3]

In [8]:
#6. Remove an element from a list by its index.

In [9]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Index of the element to remove (0-based index)
remove_index = 2

# Remove the element at the specified index using pop()
if remove_index >= 0 and remove_index < len(my_list):
    removed_element = my_list.pop(remove_index)
    print("Removed element:", removed_element)
else:
    print("Index out of range.")

# Print the updated list
print(my_list)

Removed element: 3
[1, 2, 4, 5]

In [10]:
#7. Check if an element exists in a list.

In [12]:
#8. Find the index of the first occurrence of an element in a list.

In [14]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Element to check for
element_to_check = 3

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [13]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3]

# Element to find
element_to_find = 3

try:
    # Find the index of the first occurrence of the element
    index = my_list.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
except ValueError:
    print(f"{element_to_find} is not in the list.")

The first occurrence of 3 is at index 2.

In [15]:
#9. Count the occurrences of an element in a list.

In [16]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3, 3]

# Element to count
element_to_count = 3

# Count the occurrences of the element using count()
count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 3 times in the list.

In [17]:
#10. Reverse the order of elements in a list.

In [18]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Reverse the list using reverse()
my_list.reverse()

# Print the reversed list
print(my_list)

[5, 4, 3, 2, 1]

In [19]:
#11. Sort a list in ascending order.

In [20]:
# Create an unsorted list
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Sort the list in ascending order using sort()
my_list.sort()

# Print the sorted list
print(my_list)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [21]:
#12. Sort a list in descending order.

In [22]:
# Create an unsorted list
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Sort the list in descending order using sort() with reverse=True
my_list.sort(reverse=True)

# Print the sorted list
print(my_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [23]:
#13. Create a list of even numbers from 1 to 20.

In [24]:
# Create an empty list to store even numbers
even_numbers = []

# Use a loop to add even numbers from 1 to 20 to the list
for x in range(1, 21):
    if x % 2 == 0:
        even_numbers.append(x)

# Print the list of even numbers
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
#14. Create a list of odd numbers from 1 to 20.

In [26]:
# Create an empty list to store odd numbers
odd_numbers = []

# Use a loop to add odd numbers from 1 to 20 to the list
for x in range(1, 21):
    if x % 2 != 0:
        odd_numbers.append(x)

# Print the list of odd numbers
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
#15. Find the sum of all elements in a list.

In [28]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Use the sum() function to calculate the sum
sum_of_elements = sum(my_list)

# Print the sum
print("Sum of elements:", sum_of_elements)

Sum of elements: 15

In [29]:
#16. Find the maximum value in a list.

In [30]:
# Create a list of numbers
my_list = [7, 2, 9, 4, 5]

# Find the maximum value using the max() function
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 9

In [31]:
#17. Find the minimum value in a list.

In [32]:
# Create a list of numbers
my_list = [7, 2, 9, 4, 5]

# Find the minimum value using the min() function
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 2

In [33]:
#18. Create a list of squares of numbers from 1 to 10.

In [34]:
# Create a list of squares of numbers from 1 to 10 using a list comprehension
squares = [x**2 for x in range(1, 11)]

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
#19. Create a list of random numbers.

In [36]:
import random

# Create a list of 10 random integers between a specified range (e.g., 1 to 100)
random_numbers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random numbers
print(random_numbers)

[61, 8, 66, 21, 26, 92, 82, 5, 52, 75]

In [37]:
#20. Remove duplicates from a list.

In [38]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Create a new list to store unique elements
unique_list = []

# Use a loop to iterate through the original list
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

# Print the unique list
print(unique_list)

[1, 2, 3, 4, 5]

In [39]:
#21. Find the common elements between two lists.

In [40]:
# Create two lists with some common elements (including duplicates)
list1 = [1, 2, 2, 3, 4, 4, 5]
list2 = [3, 4, 4, 5, 6, 7]

# Find common elements using a loop
common_elements = []
for item in list1:
    if item in list2 and item not in common_elements:
        common_elements.append(item)

# Print the common elements
print(common_elements)

[3, 4, 5]

In [41]:
#22. Find the difference between two lists.

In [42]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Convert the lists to sets and find the difference
difference1 = list(set(list1).difference(set(list2)))
difference2 = list(set(list2).difference(set(list1)))

# Print the differences
print("Difference from list1 to list2:", difference1)
print("Difference from list2 to list1:", difference2)

Difference from list1 to list2: [1, 2]
Difference from list2 to list1: [6, 7]

In [43]:
#23. Merge two lists.

In [44]:
# Create two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the + operator
merged_list = list1 + list2

# Print the merged list
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [45]:
#24. Multiply all elements in a list by 2.

In [46]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using a loop
for i in range(len(my_list)):
    my_list[i] *= 2

# Print the modified list
print(my_list)

[2, 4, 6, 8, 10]

In [47]:
#25. Filter out all even numbers from a list.

In [48]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using a list comprehension
odd_numbers = [x for x in my_list if x % 2 != 0]

# Print the new list with odd numbers
print(odd_numbers)

[1, 3, 5, 7, 9]

In [1]:
#26. Convert a list of strings to a list of integers.

In [2]:
# Create a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Initialize an empty list to store integers
int_list = []

# Use a loop to convert strings to integers
for s in string_list:
    int_list.append(int(s))

# Print the list of integers
print(int_list)

[1, 2, 3, 4, 5]

In [5]:
#28. Flatten a nested list.

In [6]:
# Define a function to flatten a nested list
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list

# Example nested list
nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Flatten the nested list
flat_list = flatten_list(nested_list)

# Print the flattened list
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [7]:
#29. Create a list of the first 10 Fibonacci numbers.

In [8]:
# Initialize the list with the first two Fibonacci numbers
fibonacci_numbers = [0, 1]

# Use a loop to generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_numbers[i - 1] + fibonacci_numbers[i - 2]
    fibonacci_numbers.append(next_fibonacci)

# Print the list of the first 10 Fibonacci numbers
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [9]:
#30. Check if a list is sorted.

In [10]:
# Function to check if a list is sorted in ascending order
def is_sorted(arr):
    for i in range(len(arr) - 1):
        if arr[i] > arr[i + 1]:
            return False
    return True

# Example lists
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Check if the lists are sorted
print("Is sorted_list sorted?", is_sorted(sorted_list))
print("Is unsorted_list sorted?", is_sorted(unsorted_list))

Is sorted_list sorted? True
Is unsorted_list sorted? False

In [11]:
#31. Rotate a list to the left by `n` positions.

In [12]:
# Function to rotate a list to the left by n positions
def rotate_left(arr, n):
    # Check for empty list or no rotation needed
    if not arr or n == 0:
        return arr
    
    # Calculate the effective rotation index
    n = n % len(arr)
    
    # Slice the list to rotate it
    rotated_list = arr[n:] + arr[:n]
    return rotated_list

# Example list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated = rotate_left(my_list, 2)

# Print the rotated list
print(rotated)

[3, 4, 5, 1, 2]

In [13]:
#32. Rotate a list to the right by `n` positions.

In [14]:
# Function to rotate a list to the right by n positions
def rotate_right(arr, n):
    # Check for empty list or no rotation needed
    if not arr or n == 0:
        return arr

    # Calculate the effective rotation index
    n = n % len(arr)

    # Slice the list to rotate it
    rotated_list = arr[-n:] + arr[:-n]
    return rotated_list

# Example list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated = rotate_right(my_list, 2)

# Print the rotated list
print(rotated)

[4, 5, 1, 2, 3]

In [15]:
#33. Create a list of prime numbers up to 50.

In [16]:
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    elif n == 2:
        return True
    elif n % 2 == 0:
        return False
    else:
        # Check for divisibility by odd numbers from 3 to the square root of n
        for i in range(3, int(n ** 0.5) + 1, 2):
            if n % i == 0:
                return False
        return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [17]:
#34. Split a list into chunks of size `n`.

In [18]:
# Function to split a list into chunks of size n
def split_list(input_list, n):
    result = []
    for i in range(0, len(input_list), n):
        chunk = input_list[i:i + n]
        result.append(chunk)
    return result

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunks = split_list(my_list, 3)

# Print the list of chunks
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [19]:
#35. Find the second largest number in a list.

In [20]:
# Function to find the second largest number in a list
def second_largest(numbers):
    if len(numbers) < 2:
        return "The list has less than two elements."

    # Sort the list in ascending order
    sorted_numbers = sorted(numbers)

    # The second-to-last element is the second largest
    return sorted_numbers[-2]

# Example list
my_list = [12, 45, 2, 41, 31, 10, 8, 6]

# Find the second largest number
result = second_largest(my_list)

# Print the result
print("The second largest number is:", result)

The second largest number is: 41

In [21]:
#36. Replace every element in a list with its square.

In [22]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Use a loop to replace each element with its square
for i in range(len(my_list)):
    my_list[i] = my_list[i] ** 2

# Print the modified list
print(my_list)

[1, 4, 9, 16, 25]

In [27]:
'''37. Convert a list to a dictionary where
list elements become keys and their
indices become values.'''

'37. Convert a list to a dictionary where\nlist elements become keys and their\nindices become values.'

In [28]:
# Create a list of elements
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [29]:
#38. Shuffle the elements of a list randomly.

In [30]:
import random

# Create a list of elements
my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print(my_list)

[1, 2, 3, 4, 5]

In [31]:
#39. Create a list of the first 10 factorial numbers.

In [33]:
# Function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(n) for n in range(10)]

# Print the list of factorial numbers
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [34]:
#40. Check if two lists have at least one element in common.

In [35]:
# Function to check if two lists have at least one element in common
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    common_elements = set1.intersection(set2)
    return len(common_elements) > 0

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if the lists have at least one common element
result = have_common_element(list1, list2)

# Print the result
if result:
    print("The lists have at least one common element.")
else:
    print("The lists have no common elements.")

The lists have at least one common element.

In [36]:
#41. Remove all elements from a list.

In [37]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove all elements from the list
my_list.clear()

# The list is now empty
print(my_list)

[]

In [38]:
#42. Replace negative numbers in a list with 0.

In [39]:
# Create a list with both positive and negative numbers
my_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the modified list
print(my_list)

[1, 0, 3, 0, 5, 0]

In [40]:
#43. Convert a string into a list of words.

In [41]:
# Input string
input_string = "This is a sample sentence."

# Split the string into a list of words
word_list = input_string.split()

# Print the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [42]:
#44. Convert a list of words into a string.

In [43]:
# List of words
word_list = ['This', 'is', 'a', 'sample', 'sentence.']

# Convert the list of words into a string
output_string = ' '.join(word_list)

# Print the resulting string
print(output_string)

This is a sample sentence.

In [44]:
#45. Create a list of the first `n` powers of 2.

In [45]:
# Function to generate the first n powers of 2
def powers_of_2(n):
    return [2**i for i in range(n)]

# Example: Create a list of the first 5 powers of 2
n = 5
powers_list = powers_of_2(n)

# Print the list of powers
print(powers_list)

[1, 2, 4, 8, 16]

In [46]:
#46. Find the longest string in a list of strings.

In [47]:
# List of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: elderberry

In [48]:
#47. Find the shortest string in a list of strings.

In [49]:
# List of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

# Print the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: date

In [50]:
#48. Create a list of the first `n` triangular numbers.

In [51]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = []
    sum = 0
    for i in range(1, n + 1):
        sum += i
        triangular_numbers.append(sum)
    return triangular_numbers

# Example: Create a list of the first 5 triangular numbers
n = 5
triangular_list = generate_triangular_numbers(n)

# Print the list of triangular numbers
print(triangular_list)

[1, 3, 6, 10, 15]

In [52]:
#49. Check if a list contains another list as a subsequence.

In [53]:
# Function to check if list1 contains list2 as a subsequence
def is_subsequence(list1, list2):
    # Initialize indices for list1 and list2
    i, j = 0, 0

    # Iterate through list1 and list2
    while i < len(list1) and j < len(list2):
        # If the current elements match, move to the next element in list2
        if list1[i] == list2[j]:
            j += 1
        # Move to the next element in list1
        i += 1

    # If j reaches the length of list2, all elements of list2 were found in list1
    return j == len(list2)

# Example lists
list1 = [1, 2, 3, 4, 5, 6]
list2 = [2, 4, 6]

# Check if list1 contains list2 as a subsequence
result = is_subsequence(list1, list2)

# Print the result
if result:
    print("list1 contains list2 as a subsequence.")
else:
    print("list1 does not contain list2 as a subsequence.")

list1 contains list2 as a subsequence.

In [54]:
#50. Swap two elements in a list by their indices.

In [55]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Define the indices of the elements to swap
index1 = 1  # Index of the first element to swap
index2 = 3  # Index of the second element to swap

# Perform the swap
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Print the modified list
print(my_list)

[1, 4, 3, 2, 5]

Tuple Based Problem

In [56]:
#1. Create a tuple with integers from 1 to 5.

In [57]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

# Print the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [58]:
#2. Access the third element of a tuple.

In [59]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2)
third_element = my_tuple[2]

# Print the third element
print("The third element is:", third_element)

The third element is: 3

In [60]:
#3. Find the length of a tuple without using the `len()` function.

In [61]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Initialize a count variable
count = 0

# Iterate through the tuple and count elements
for _ in my_tuple:
    count += 1

# Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [62]:
#4. Count the occurrences of an element in a tuple.

In [63]:
# Create a tuple
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

# Count the occurrences of a specific element (e.g., 2)
element_to_count = 2
count = my_tuple.count(element_to_count)

# Print the count
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 4 times in the tuple.

In [64]:
#5. Find the index of the first occurrence of an element in a tuple.

In [65]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 2, 5)

# Find the index of the first occurrence of an element (e.g., 2)
element_to_find = 2

try:
    index = my_tuple.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
except ValueError:
    print(f"{element_to_find} is not in the tuple.")

The first occurrence of 2 is at index 1.

In [66]:
#6. Check if an element exists in a tuple.

In [67]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Element to check for existence
element_to_check = 3

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [68]:
#7. Convert a tuple to a list.

In [69]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Print the resulting list
print(my_list)

[1, 2, 3, 4, 5]

In [70]:
#8. Convert a list to a tuple.

In [71]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the resulting tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [72]:
#9. Unpack the elements of a tuple into variables.

In [73]:
# Create a tuple
my_tuple = (1, 2, 3)

# Unpack the elements into variables
x, y, z = my_tuple

# Print the variables
print("x:", x)
print("y:", y)
print("z:", z)

x: 1
y: 2
z: 3

In [74]:
#10. Create a tuple of even numbers from 1 to 10.

In [75]:
# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

# Print the tuple
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [76]:
#11. Create a tuple of odd numbers from 1 to 10.

In [77]:
# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(x for x in range(1, 11) if x % 2 != 0)

# Print the tuple
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [78]:
#12. Concatenate two tuples.

In [79]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Print the concatenated tuple
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [80]:
#13. Repeat a tuple three times.

In [81]:
# Create a tuple
my_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

# Print the repeated tuple
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [82]:
#14. Check if a tuple is empty.

In [83]:
# Create an empty tuple
empty_tuple = ()

# Check if the tuple is empty
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [84]:
#15. Create a nested tuple.

In [85]:
# Create a nested tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"))

# Print the nested tuple
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'))

In [86]:
#16. Access the first element of a nested tuple.

In [87]:
# Create a nested tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

# Print the first element
print("The first element is:", first_element)

The first element is: (1, 2, 3)

In [88]:
#17. Create a tuple with a single element.

In [89]:
# Create a tuple with a single element
single_element_tuple = (42,)

# Print the tuple
print(single_element_tuple)

(42,)

In [90]:
#18. Compare two tuples.

In [91]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Compare for equality
if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal")

# Compare for inequality
if tuple1 != (4, 5, 6):
    print("tuple1 and (4, 5, 6) are not equal")

# Compare for greater than
if tuple1 > (0, 1, 2):
    print("tuple1 is greater than (0, 1, 2)")

# Compare for less than or equal to
if tuple1 <= (1, 2, 3):
    print("tuple1 is less than or equal to (1, 2, 3)")

tuple1 and tuple2 are equal
tuple1 and (4, 5, 6) are not equal
tuple1 is greater than (0, 1, 2)
tuple1 is less than or equal to (1, 2, 3)

In [92]:
#19. Delete a tuple.

In [94]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the tuple
del my_tuple

# Attempt to print the tuple (will result in an error)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [95]:
#20. Slice a tuple.

In [96]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a portion of it
# Syntax: tuple[start:stop:step]

# Get elements from index 1 to 3 (exclusive)
slice_result = my_tuple[1:3]

# Print the sliced portion
print(slice_result)

(2, 3)

In [97]:
#21. Find the maximum value in a tuple.

In [98]:
# Create a tuple
my_tuple = (5, 12, 9, 3, 17, 8)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Print the maximum value
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 17

In [99]:
#22. Find the minimum value in a tuple.

In [100]:
# Create a tuple
my_tuple = (5, 12, 9, 3, 17, 8)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Print the minimum value
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 3

In [101]:
#23. Convert a string to a tuple of characters.

In [102]:
# Input string
input_string = "Hello, World!"

# Using a loop to convert the string to a tuple of characters
char_tuple = tuple(char for char in input_string)

# Print the tuple of characters
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [103]:
#24. Convert a tuple of characters to a string.

In [104]:
# Create a tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string
result_string = ''.join(char_tuple)

# Print the resulting string
print(result_string)

Hello, World!

In [105]:
#25. Create a tuple from multiple data types.

In [106]:
# Create a tuple with elements of different data types
mixed_tuple = (1, "Hello", 3.14, True)

# Print the mixed tuple
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [107]:
#26. Check if two tuples are identical.

In [108]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [109]:
#27. Sort the elements of a tuple.

In [110]:
# Create a tuple
my_tuple = (5, 2, 9, 1, 8)

# Convert the tuple to a list
my_list = list(my_tuple)

# Sort the list
my_list.sort()

# Convert the sorted list back to a tuple (if needed)
sorted_tuple = tuple(my_list)

# Print the sorted tuple
print(sorted_tuple)

(1, 2, 5, 8, 9)

In [111]:
#28. Convert a tuple of integers to a tuple of strings.

In [112]:
# Create a tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
str_tuple = tuple(str(num) for num in int_tuple)

# Print the tuple of strings
print(str_tuple)

('1', '2', '3', '4', '5')

In [113]:
#29. Convert a tuple of strings to a tuple of integers.

In [114]:
# Create a tuple of strings
str_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
int_tuple = tuple(int(s) for s in str_tuple)

# Print the tuple of integers
print(int_tuple)

(1, 2, 3, 4, 5)

In [115]:
#30. Merge two tuples.

In [116]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge (concatenate) the two tuples
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [117]:
#31. Flatten a nested tuple.

In [118]:
# Create a nested tuple
nested_tuple = ((1, 2, 3), (4, 5), (6, 7, 8))

# Flatten the nested tuple into a single-level tuple
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)

# Print the flattened tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [119]:
#32. Create a tuple of the first 5 prime numbers.

In [120]:
# Create a tuple of the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

# Print the tuple of prime numbers
print(prime_numbers)

(2, 3, 5, 7, 11)

In [121]:
#33. Check if a tuple is a palindrome.

In [122]:
# Define a tuple
my_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
is_palindrome = my_tuple == my_tuple[::-1]

# Print the result
if is_palindrome:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [123]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [124]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print(squares_tuple)

(1, 4, 9, 16, 25)

In [125]:
#35. Filter out all even numbers from a tuple.

In [126]:
# Create a tuple with a mix of even and odd numbers
mixed_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Filter out even numbers to create a new tuple of odd numbers
odd_numbers_tuple = tuple(x for x in mixed_tuple if x % 2 != 0)

# Print the tuple of odd numbers
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [127]:
#36. Multiply all elements in a tuple by 2.

In [128]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Multiply all elements in the tuple by 2
doubled_tuple = tuple(x * 2 for x in my_tuple)

# Print the doubled tuple
print(doubled_tuple)

(2, 4, 6, 8, 10)

In [129]:
#37. Create a tuple of random numbers.

In [130]:
import random

# Create an empty tuple to store random numbers
random_numbers_tuple = ()

# Generate 5 random integers and add them to the tuple
for _ in range(5):
    random_number = random.randint(1, 100)
    random_numbers_tuple += (random_number,)

# Print the tuple of random numbers
print(random_numbers_tuple)

(2, 24, 66, 62, 92)

In [131]:
#38. Check if a tuple is sorted.

In [132]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted in ascending order
is_sorted = all(my_tuple[i] <= my_tuple[i + 1] for i in range(len(my_tuple) - 1))

# Print the result
if is_sorted:
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

The tuple is sorted in ascending order.

In [133]:
#39. Rotate a tuple to the left by `n` positions.

In [134]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Specify the number of positions to rotate
n = 2  # You can change this value to rotate by a different number of positions

# Rotate the tuple to the left by n positions
rotated_tuple = my_tuple[n:] + my_tuple[:n]

# Print the rotated tuple
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [135]:
#40. Rotate a tuple to the right by `n` positions.

In [136]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Specify the number of positions to rotate
n = 2  # You can change this value to rotate by a different number of positions

# Calculate the rotation index
rotation_index = len(my_tuple) - n

# Rotate the tuple to the right by n positions
rotated_tuple = my_tuple[rotation_index:] + my_tuple[:rotation_index]

# Print the rotated tuple
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [137]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [138]:
# Initialize a tuple with the first two Fibonacci numbers
fibonacci_tuple = (0, 1)

# Generate the next 3 Fibonacci numbers and add them to the tuple
while len(fibonacci_tuple) < 5:
    next_fibonacci = fibonacci_tuple[-1] + fibonacci_tuple[-2]
    fibonacci_tuple += (next_fibonacci,)

# Print the tuple of the first 5 Fibonacci numbers
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [139]:
#42. Create a tuple from user input.

In [140]:
# Get user input as a comma-separated string
user_input = input("Enter elements separated by commas: ")

# Split the input string into a list of elements
input_elements = user_input.split(',')

# Remove leading and trailing whitespace from each element
input_elements = [element.strip() for element in input_elements]

# Create a tuple from the list of elements
user_tuple = tuple(input_elements)

# Print the user-created tuple
print("User-created tuple:", user_tuple)

Enter elements separated by commas:  mansuri,nabasyerrtgb,hghyh,

User-created tuple: ('mansuri', 'nabasyerrtgb', 'hghyh', '')

In [141]:
#43. Swap two elements in a tuple.

In [142]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Specify the indices of the elements to swap
index1 = 2  # Index of the first element to swap (3)
index2 = 4  # Index of the second element to swap (5)

# Convert the tuple to a list to facilitate swapping
tuple_list = list(my_tuple)

# Swap the elements in the list
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(tuple_list)

# Print the tuple with swapped elements
print(swapped_tuple)

(1, 2, 5, 4, 3)

In [143]:
#44. Reverse the elements of a tuple.

In [144]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements and create a new tuple
reversed_tuple = tuple(reversed(my_tuple))

# Print the reversed tuple
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [146]:
#45. Create a tuple of the first `n` powers of 2.

In [147]:
# Specify the value of n (number of powers of 2)
n = 5  # You can change this value to generate a different number of powers

# Create a tuple of the first n powers of 2
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

In [148]:
#46. Find the longest string in a tuple of strings.

In [149]:
# Define a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "fig")

# Find the longest string in the tuple
longest_string = max(my_tuple, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: banana

In [150]:
#47. Find the shortest string in a tuple of strings.

In [151]:
# Define a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "fig")

# Find the shortest string in the tuple
shortest_string = min(my_tuple, key=len)

# Print the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: fig

In [152]:
#48. Create a tuple of the first `n` triangular numbers.

In [153]:
# Specify the value of n (number of triangular numbers)
n = 5  # You can change this value to generate a different number of triangular numbers

# Create a tuple of the first n triangular numbers
triangular_numbers_tuple = ()
sum_so_far = 0

for i in range(1, n + 1):
    sum_so_far += i
    triangular_numbers_tuple += (sum_so_far,)

# Print the tuple of triangular numbers
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [154]:
#49. Check if a tuple contains another tuple as a subsequence.

In [155]:
# Define the main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)

# Define the subsequence tuple to check for
subsequence_tuple = (3, 4, 5)

# Initialize variables for tracking the subsequence match
subsequence_index = 0
match_count = 0

# Iterate through the main tuple
for item in main_tuple:
    if item == subsequence_tuple[subsequence_index]:
        subsequence_index += 1
        match_count += 1
    else:
        subsequence_index = 0

    # Check if the entire subsequence has been found
    if match_count == len(subsequence_tuple):
        break

# Check if the subsequence was found
if match_count == len(subsequence_tuple):
    print("The subsequence tuple is found in the main tuple.")
else:
    print("The subsequence tuple is not found in the main tuple.")

The subsequence tuple is found in the main tuple.

In [156]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [157]:
# Specify the length of the tuple
n = 10  # You can change this value to create a tuple of a different length

# Create a tuple of alternating 1s and 0s
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Print the alternating tuple
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem

In [ ]:
#1. Create a set with integers from 1 to 5.

In [ ]:
my_set = {1, 2, 3, 4, 5}

In [160]:
#2. Add an element to a set.

In [161]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)  # Adds the element 6 to the set

In [162]:
#3. Remove an element from a set.

In [163]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
my_set.remove(element_to_remove)  # Removes the element 3 from the set

In [164]:
#4. Check if an element exists in a set.

In [165]:
my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [166]:
#5. Find the length of a set without using the `len()` function.

In [167]:
my_set = {1, 2, 3, 4, 5}

# Initialize a count variable
count = 0

# Iterate through the set and increment count for each element
for _ in my_set:
    count += 1

# Print the length of the set
print("The length of the set is:", count)

The length of the set is: 5

In [168]:
#6. Clear all elements from a set.

In [169]:
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print("The set after clearing:", my_set)

The set after clearing: set()

In [170]:
#7. Create a set of even numbers from 1 to 10.

In [171]:
even_set = set(range(2, 11, 2))

In [172]:
#8. Create a set of odd numbers from 1 to 10.

In [173]:
odd_set = set(range(1, 11, 2))

In [174]:
#9. Find the union of two sets.

In [175]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of set1 and set2 using the union() method
union_result = set1.union(set2)

# Print the union
print("Union of set1 and set2:", union_result)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [176]:
#10. Find the intersection of two sets.

In [177]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of set1 and set2 using the & operator
intersection_result = set1 & set2

# Print the intersection
print("Intersection of set1 and set2:", intersection_result)

Intersection of set1 and set2: {4, 5}

In [178]:
#11. Find the difference between two sets.

In [179]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference between set1 and set2 using the difference() method
difference_result = set1.difference(set2)

# Print the difference
print("Difference between set1 and set2:", difference_result)

Difference between set1 and set2: {1, 2, 3}

In [180]:
#12. Check if a set is a subset of another set.

In [181]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the <= operator
is_subset = set1 <= set2

# Print the result
if is_subset:
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

In [182]:
#13. Check if a set is a superset of another set.

In [183]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the >= operator
is_superset = set1 >= set2

# Print the result
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [184]:
#14. Create a set from a list.

In [185]:
my_list = [1, 2, 3, 4, 5]

# Create a set from the list
my_set = set(my_list)

# Print the set
print("Set from list:", my_set)

Set from list: {1, 2, 3, 4, 5}

In [186]:
#15. Convert a set to a list.

In [187]:
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

# Print the list
print("List from set:", my_list)

List from set: [1, 2, 3, 4, 5]

In [188]:
#16. Remove a random element from a set.

In [189]:
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using pop()
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [190]:
#17. Pop an element from a set.

In [191]:
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set using pop()
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [192]:
#18. Check if two sets have no elements in common.

In [193]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 have no elements in common using isdisjoint()
no_common_elements = set1.isdisjoint(set2)

# Print the result
if no_common_elements:
    print("set1 and set2 have no elements in common.")
else:
    print("set1 and set2 have common elements.")

set1 and set2 have no elements in common.

In [195]:
#19. Find the symmetric difference between two sets.

In [196]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference between set1 and set2 using the symmetric_difference() method
symmetric_difference_result = set1.symmetric_difference(set2)

# Print the symmetric difference
print("Symmetric difference between set1 and set2:", symmetric_difference_result)

Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

In [197]:
#20. Update a set with elements from another set.

In [198]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

# Print the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [199]:
#21. Create a set of the first 5 prime numbers.

In [201]:
prime_numbers = {2, 3, 5, 7, 11}

# Print the set of the first 5 prime numbers
print("Set of the first 5 prime numbers:", prime_numbers)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [202]:
#22. Check if two sets are identical.

In [203]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if set1 and set2 are identical using the == operator
are_identical = set1 == set2

# Print the result
if are_identical:
    print("set1 and set2 are identical.")
else:
    print("set1 and set2 are not identical.")

set1 and set2 are identical.

In [204]:
#23. Create a frozen set.

In [205]:
my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the original set
my_frozen_set = frozenset(my_set)

# Print the frozen set
print("Frozen set:", my_frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [206]:
#24. Check if a set is disjoint with another set.

In [207]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint using isdisjoint()
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("set1 and set2 are disjoint.")
else:
    print("set1 and set2 are not disjoint and have common elements.")

set1 and set2 are disjoint.

In [208]:
#25. Create a set of squares of numbers from 1 to 5.

In [209]:
# Using a set comprehension to create a set of squares
squares_set = {x ** 2 for x in range(1, 6)}

# Print the set of squares
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [215]:
#26. Filter out all even numbers from a set.

In [214]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in original_set if x % 2 != 0}

# Print the filtered set
print("Filtered set (odd numbers only):", filtered_set)

Filtered set (odd numbers only): {1, 3, 5, 7, 9}

In [212]:
#27. Multiply all elements in a set by 2.

In [213]:
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
new_set = {x * 2 for x in original_set}

# Print the new set
print("New set (elements multiplied by 2):", new_set)

New set (elements multiplied by 2): {2, 4, 6, 8, 10}

In [216]:
#28. Create a set of random numbers.

In [217]:
import random

# Create an empty set to store random numbers
random_set = set()

# Generate and add 5 random integers to the set
for _ in range(5):
    random_number = random.randint(1, 100)  # Change the range as needed
    random_set.add(random_number)

# Print the set of random numbers
print("Set of random numbers:", random_set)

Set of random numbers: {65, 33, 79, 83, 95}

In [218]:
#29. Check if a set is empty.

In [219]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [220]:
#30. Create a nested set (hint: use frozenset).

In [221]:
# Create frozensets for inner sets
inner_set1 = frozenset({1, 2, 3})
inner_set2 = frozenset({4, 5, 6})

# Create a set that contains the frozensets (nested set)
nested_set = {inner_set1, inner_set2}

# Print the nested set
print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [222]:
#31. Remove an element from a set using the discard method.

In [223]:
my_set = {1, 2, 3, 4, 5}

# Remove an element using the discard() method
my_set.discard(3)

# Print the updated set
print("Updated set after removing 3:", my_set)

# Attempt to remove an element that does not exist
my_set.discard(7)  # No error will be raised, as discard() handles this case gracefully

# Print the set after attempting to remove 7 (no change)
print("Set after attempting to remove 7:", my_set)

Updated set after removing 3: {1, 2, 4, 5}
Set after attempting to remove 7: {1, 2, 4, 5}

In [224]:
#32. Compare two sets.

In [225]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}
set3 = {1, 2, 3, 4, 5, 6}

# Equality check
print("set1 == set2:", set1 == set2)  # False
print("set1 == set3:", set1 == set3)  # True

# Subset check
print("set2 <= set1:", set2 <= set1)  # True
print("set3 <= set1:", set3 <= set1)  # True

# Proper subset check
print("set2 < set1:", set2 < set1)  # True
print("set1 < set1:", set1 < set1)  # False

# Superset check
print("set1 >= set2:", set1 >= set2)  # True
print("set1 >= set3:", set1 >= set3)  # False

# Proper superset check
print("set1 > set2:", set1 > set2)  # True
print("set1 > set1:", set1 > set1)  # False

set1 == set2: False
set1 == set3: False
set2 <= set1: True
set3 <= set1: False
set2 < set1: True
set1 < set1: False
set1 >= set2: True
set1 >= set3: False
set1 > set2: True
set1 > set1: False

In [226]:
#33. Create a set from a string.

In [227]:
my_string = "hello"

# Create an empty set
my_set = set()

# Iterate through the string and add characters to the set
for char in my_string:
    my_set.add(char)

# Print the set
print("Set from string using a loop:", my_set)

Set from string using a loop: {'h', 'e', 'o', 'l'}

In [228]:
#34. Convert a set of strings to a set of integers.

In [229]:
# Set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers using a set comprehension
integer_set = {int(x) for x in string_set}

# Print the set of integers
print("Set of integers:", integer_set)

Set of integers: {1, 2, 3, 4, 5}

In [230]:
#35. Convert a set of integers to a set of strings.

In [231]:
# Set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings using a set comprehension
string_set = {str(x) for x in integer_set}

# Print the set of strings
print("Set of strings:", string_set)

Set of strings: {'2', '1', '4', '5', '3'}

In [232]:
#36. Create a set from a tuple.

In [233]:
# Tuple containing elements
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

# Print the set
print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

In [234]:
#37. Convert a set to a tuple.

In [235]:
# Set containing elements
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the tuple
print("Tuple from set:", my_tuple)

Tuple from set: (1, 2, 3, 4, 5)

In [236]:
#38. Find the maximum value in a set.

In [237]:
# Set containing elements
my_set = {10, 5, 20, 8, 15}

# Find the maximum value in the set using the max() function
maximum_value = max(my_set)

# Print the maximum value
print("Maximum value in the set:", maximum_value)

Maximum value in the set: 20

In [238]:
#39. Find the minimum value in a set.

In [239]:
# Set containing elements
my_set = {10, 5, 20, 8, 15}

# Find the minimum value in the set using the min() function
minimum_value = min(my_set)

# Print the minimum value
print("Minimum value in the set:", minimum_value)

Minimum value in the set: 5

In [240]:
#40. Create a set from user input.

In [241]:
# Initialize an empty set
my_set = set()

# Prompt the user to enter elements (terminate by entering an empty string)
while True:
    user_input = input("Enter an element (or press Enter to finish): ")
    
    # Check if the user wants to finish entering elements
    if user_input == "":
        break
    
    # Add the input to the set (convert to the appropriate data type if needed)
    my_set.add(user_input)

# Print the resulting set
print("Set from user input:", my_set)

Enter an element (or press Enter to finish):  my name is mehboob mansuri, i am 29 year old.
Enter an element (or press Enter to finish):

Set from user input: {'my name is mehboob mansuri, i am 29 year old.'}

In [242]:
#41. Check if the intersection of two sets is empty.

In [243]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty using isdisjoint()
is_empty_intersection = set1.isdisjoint(set2)

# Print the result
if is_empty_intersection:
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

In [244]:
#42. Create a set of the first 5 Fibonacci numbers.

In [245]:
# Initialize an empty set to store the Fibonacci numbers
fibonacci_set = set()

# Define the first two Fibonacci numbers
a, b = 0, 1

# Generate the first 5 Fibonacci numbers and add them to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [246]:
#43. Remove duplicates from a list using sets.

In [247]:
# List with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Remove duplicates by converting the list to a set and back to a list
my_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", my_list)

List without duplicates: [1, 2, 3, 4, 5]

In [248]:
#44. Check if two sets have the same elements, regardless of their count.

In [249]:
# Define two sets with the same elements but different counts
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1, 2, 3}

# Check if the sets have the same elements regardless of count
are_equal = set1 == set2

# Print the result
if are_equal:
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of count.

In [250]:
#45. Create a set of the first `n` powers of 2.

In [251]:
# Function to generate the first n powers of 2 and return them as a set
def powers_of_2(n):
    power_set = set()
    power = 1
    for _ in range(n):
        power_set.add(power)
        power *= 2
    return power_set

# Define the value of n (the number of powers of 2 you want)
n = 5

# Create a set of the first n powers of 2
power_set = powers_of_2(n)

# Print the set
print(f"Set of the first {n} powers of 2:", power_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [252]:
#46. Find the common elements between a set and a list.

In [253]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Define a list
my_list = [3, 4, 5, 6, 7]

# Find the common elements using the intersection() method
common_elements = my_set.intersection(my_list)

# Convert the result to a list if needed
common_elements_list = list(common_elements)

# Print the common elements
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

In [254]:
#47. Create a set of the first `n` triangular numbers.

In [255]:
# Function to generate the first n triangular numbers and return them as a set
def triangular_numbers(n):
    triangular_set = set()
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_set.add(total)
    return triangular_set

# Define the value of n (the number of triangular numbers you want)
n = 5

# Create a set of the first n triangular numbers
triangular_set = triangular_numbers(n)

# Print the set
print(f"Set of the first {n} triangular numbers:", triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [256]:
#48. Check if a set contains another set as a subset.

In [257]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1 using issubset()
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [258]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [259]:
# Function to create a set of alternating 1s and 0s of length n
def alternating_set(n):
    alt_set = set()
    for i in range(n):
        alt_set.add(i % 2)  # Add 0 or 1 alternately
    return alt_set

# Define the length n
n = 10  # You can change this to the desired length

# Create a set of alternating 1s and 0s
alt_set = alternating_set(n)

# Print the set
print("Set of alternating 1s and 0s:", alt_set)

Set of alternating 1s and 0s: {0, 1}

In [260]:
#50. Merge multiple sets into one.

In [261]:
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge (union) the sets using the union() method
merged_set = set1.union(set2, set3)

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}